//
// Colors
//

// Custom darkish, blackish, grayish blue
$midnight-blue: #2c3e50;

// Use this as your primary
$primary: $midnight-blue;

// Optional: define a few tone variations
$primary-dark: #1c2833;    // Even darker
$primary-light: #3c556e;   // Slightly lighte
